//mobile navbar

@media all and (max-width: 960px){


  .navdesktop-wrapper ul {     display:none!important ;  }

.navmobile-wrapper{

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    top:0;


  }

.navmobile-wrapper  li {

    display: block;
        color: #000;
      //  padding: 8px 0 8px 16px;
        text-decoration: none!important;
        border:1px solid black;

        a{
          display:block;
          text-decoration: none!important;

        }
  }
  li a:hover {
      background-color: #555;
      color: white;
}

}


/*desktop navbar*/
@media all and (min-width: 960px){

 .foo-hamburger{ display:none!important;  }


.navdesktop-wrapper{

  margin:0;
  padding:0;
  list-style:none;
  overflow:auto;
  width: 100%;
position: fixed;
top:0;
}
.navdesktop-wrapper ul{
  background-color: #cfbea5;
  list-style:none;
  overflow:auto;
  width: 100%;
position: fixed;
top:0;
margin:0;
padding:0;
}
  .navdesktop-wrapper li{
    float:right;





     a{

      text-align: center;
      padding: 14px 16px;
      font-size: 22px;
    font-weight: bold;
    display:block;
    text-decoration: none;
   color: #bce8e7;
    font-family: 'Orbitron', sans-serif;


 } a:hover  {
      background-color: #555;
}

}

}
