

@import 'partials/nav';


body{
  margin:0;
  color:#cfbea5;
  background-color: 	#fbffd9;
}
//homepage----
.hex2{
  margin-top: 10px;
}

  #home{
  width:100%;
  height:100vh;
/*    h1{
      text-align: center;

  font-family: 'Orbitron', sans-serif;
      font-size: 70px;

    }*/

    img{

padding-left: 30%;

  }


  }





#colors{
  background-color: white!important;
      width:100%;
      height:100vh;
    //  display:table;
      //display: flex;
}




.figcaption1{
  float: left;
  border: 5px solid black;
//  padding: 15px 105px;
  text-align: center;
display: block;

  background-color: grey;

}
.figcaption2{
  float: left;
  border: 5px solid black;
  //padding: 15px 105px;
  text-align: center;
display: block;

  background-color: grey;

}
.figcaption3{
  float: left;
  border: 5px solid black;
  //padding: 15px 105px;
  text-align: center;
display: block;

  background-color: grey;

}
.figcaption4{
  float: left;
  border: 5px solid black;
  //padding: 15px 105px;
  text-align: center;
display: block;

  background-color: grey;

}
.figcaption5{
  float: left;
  border: 5px solid black;
  //padding: 15px 105px;
  text-align: center;
display: block;

  background-color: grey;

}
.figcaption6{
  float: left;
  border: 5px solid black;
  //padding: 15px 105px;
  text-align: center;
display: block;

  background-color: grey;

}





.labelfig1{
  float:left;
  margin: 5%;
}
.labelfig2{
  float:left;
    margin: 5%;
}
.labelfig3{
  float: left;
    margin: 5%;
}
.labelfig4{
  float:left;
  margin: 5%;
}
.labelfig5{
  float:left;
    margin: 5%;
}
.labelfig6{
  float: left;
    margin: 5%;
}
.labelfig1:hover{

  opacity: 0.1;
}
.labelfig2:hover{

  opacity: 0.1;
}
.labelfig3:hover{

  opacity: 0.1;
}
.labelfig4:hover{

  opacity: 0.1;
}
.labelfig5:hover{

  opacity: 0.1;
}
.labelfig6:hover{

  opacity: 0.1;
}
/*end fig------*/

#portfolios{
      width:100%;
    //  height:100vh;
      display: table;
      background-color: #bdcfbd;


    }
    .hex1{
      margin-top: 30px;
      float: left;
      margin-left: 130px;
    }
    .hex22{
      float: left;
      margin-top: 200px;

    }
  .hex3{
    margin-top: 140px;
  }





#elements{
  background-color: white;
  width:100%;
//  height:100vh;
  display: table;
    }


#headers{
  background-color: grey;
  width:100%;
  height:100vh;
    }

    #features{
      background-color: white;
      width:100%;
      height:100vh;
        }
        #demos{
          background-color: black;
          width:100%;
          height:100vh;
            }
            #contact{
              background-color: grey;
              width:100%;
              height:100vh;
                }









footer{

  font-size: 20px;
  color: #aea79e;
  text-align: center;
  font-weight: bold;
  }
